.heading {
  position: relative;
  @include mixin.font-jost;
  font-size: 36px;
  line-height: 1;
  padding-top: 28px;
  margin: 60px 0 30px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 3px;
    background: #000;
  }

  @include mixin.desktop {
    font-size: 36px;
    margin: 90px 0 45px;
  }
}
