.privacy_policy {
  padding: 120px 15px 0;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.09em;

  @include mixin.desktop {
    padding: 300px 135px 0;
  }

  section {
    max-width: 840px;
  }

  h1 {
    @include mixin.font-jost;
    font-size: 32px;
    margin-bottom: 45px;
    line-height: 0.8;

    @include mixin.desktop {
      font-size: 90px;
      margin-bottom: 90px;
    }
  }

  h2 {
    margin-top: 2em;

    &:first-child {
      margin-bottom: 2em;
    }
  }
}
